html {
    background-color: white;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
}


#bio-text {
    
    margin: auto;
}

#bio {
    position: absolute;
    width: 30em;
    padding: 10px;
    background-color: white; 
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    bottom: 18em;
    box-sizing: border-box;
    z-index: 1;
}

#frontpage {
    position: absolute;
    height: 150%;
    
    z-index: 0;
    
   

}



.center_text {
    max-width: 1000px;
    margin: auto;
}

.tableau {
    display: table;
    margin: auto;
}






h2 h3 h4 {
    padding: 0 0 0 0;
    margin: 0 auto;
}