html {
    background-color: white;
    font-family: 'Merriweather', serif;
}

.bio-frame {
    
}

.bio {
    
    width: 50%;
    position: absolute;
    z-index: 1;
    align-self: flex-end;
    margin: 10px 10px 10px 10px;
    background-color: rgb(255, 255, 255);
    bottom: 25em;
}

.center_text {
    max-width: 1000px;
    margin: auto;
}

.tableau {
    display: table;
    margin: auto;
}






h2 h3 h4 {
    padding: 0 0 0 0;
    margin: 0 auto;
}